INSTALL
Makefile
Makefile.in
.deps
configure
config.log
config.cache
config.status
config.guess
config.sub
depcomp
missing
install-sh
aclocal.m4
confdefs.h
config.h
config.h.in
stamp-h
stamp-h.in
libtool
ltconfig
ltmain.sh
autom4te.cache
stamp-h1
ylwrap
