*~
*.o
*.a
*.lo
*.la
*.pc

.deps
.libs

INSTALL
Makefile
Makefile.in
configure
config.log
config.cache
config.status
aclocal.m4
confdefs.h
config.h
config.h.in
stamp-h
stamp-h.in
libtool
ltconfig
autom4te.cache
stamp-h1
build-aux
