Makefile
Makefile.in
.deps
.libs
gen-apply
gen-apply.exe
gen-ops
gen-ops.exe
gen-rules
gen-rules.exe
*.lo
*.la
*.o
*.a
gen-rules-parser.c
gen-rules-parser.h
gen-rules-scanner.c
gen-ops-parser.c
gen-ops-parser.h
gen-ops-scanner.c
jit-arch.h
